<h1>Whack-a-Mole!</h1>
<div id="game-area">
  <!-- This is where the moles will appear -->
</div>
<div id="score">Score: 0</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/game.js" type="text/javascript"></script>
